$cocoa: #4B473C;

html { background-color: $cocoa; }

#messages { height: 50px; }

@mixin flash-message($color) {
  text-align: center;
  color: $color;
  padding: 10px;
  border: 1px solid $color;
  border-radius: 5px;
  margin: 0 auto 50px auto;
  background-color: lighten($color, 45%)
}

.notice {
  @include flash-message(green);
}

.alert {
  @include flash-message(red);
}

.dismiss {
  font-weight: bold;
  color: white;
  background-color: lighten(red, 30%);
  float: right;
  border-radius: 2px;
  padding: 2px 5px;
  margin-top: -2px;
  &:hover {
    background-color: red;
    cursor: pointer;
  }
}

.highlight {
  color: $cocoa;
  background-color: lighten($cocoa, 40%);
  // background-color: lightyellow;
  a {
    color: lightblue;
    &:visited { color: $cocoa; }
    &:hover { color: cyan; }
  }
}
